{% include 'layout.html' %}

<div class="container mt-5">

    <h3 class="text-center mb-4">
        Chatbot de apoyo - ABLE
    </h3>

    <div class="">
        <div class="card text-center mt-3">
            <div class="card-header">
                Historial del chat
            </div>
            <div class="card-body chat-history" id="chatHistory" style="height: 500px; overflow-y: auto; display: flex; flex-direction: column;">
            <!-- Autopopulate -->
            {% for response in chat_responses %}
                <div class="{{ 'chat-message user-input' if loop.index0 is even else 'chat-message ai-response' }}">
                    {{ response }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="container mt-3" id="footer">
        <div class="input-group mb-3">
            <input class="form-control" placeholder="Añadir entrada aquí" id="userInput"></input>
            <div class="ms-2"></div><!-- Espaciador -->
            <button class="btn btn-primary" type="button" id="sendButton">Enviar</button>
        </div>
    </div>

</div>

<style>
    .chat-message {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        max-width: 80%;
        word-wrap: break-word;
    }
    
    .user-input {
        align-self: flex-end;
        background-color: #e9f5ff;
        text-align: right;
        margin-left: auto;
    }
    
    .ai-response {
        align-self: flex-start;
        background-color: #f0f0f0;
        text-align: left;
        margin-right: auto;
    }
    
    #chatHistory {
        scrollbar-width: thin;
        scrollbar-color: #999 #f1f1f1;
    }
    
    #chatHistory::-webkit-scrollbar {
        width: 8px;
    }
    
    #chatHistory::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    #chatHistory::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 4px;
    }
    
    #chatHistory::-webkit-scrollbar-thumb:hover {
        background: #777;
    }
</style>

<script>

  var websocketString = '';
  if (window.location.hostname === '127.0.0.1') {
    websocketString = "ws://localhost:8000/ws";
  } else {
    websocketString=`wss://${window.location.hostname}/ws`
  }

  var ws = new WebSocket(websocketString);

  var sendButton = document.getElementById("sendButton");
  var userInput = document.getElementById("userInput");
  var chatHistory = document.getElementById("chatHistory");
  var lastUserMessageDiv = null; // Keep track of the last user message div
  var isNewUserInput = true; // Flag to track when a new user input happens

  // Función para enviar el mensaje
  function sendMessage() {
    var message = userInput.value.trim();
    if (message) {
      var userInputDiv = document.createElement("div");
      userInputDiv.className = "chat-message user-input"; // Use user-input class for user messages
      userInputDiv.textContent = message;
      chatHistory.appendChild(userInputDiv);

      chatHistory.scrollTop = chatHistory.scrollHeight;

      ws.send(message);
      userInput.value = "";
      isNewUserInput = true; // Set the flag as it's a new user input
      lastUserMessageDiv = null; // Prepare for the next message
    }
  }

  ws.onmessage = function(event) {
    var message = event.data;

    // Check if it's a continuation of the AI's last message or a new one
    if (lastUserMessageDiv && !isNewUserInput) {
      // Append without adding extra spaces
      lastUserMessageDiv.textContent += message;
    } else {
      // It's a new message
      var messageDiv = document.createElement("div");
      messageDiv.className = "chat-message ai-response"; // Assign class for styling
      messageDiv.textContent = message;
      chatHistory.appendChild(messageDiv);
      lastUserMessageDiv = messageDiv; // Update the reference to the last message div
      isNewUserInput = false; // Reset the flag as the AI response starts
    }
    
    // Auto-scroll para mantener visible el último mensaje
    chatHistory.scrollTop = chatHistory.scrollHeight;
  };

  // Event listener para el botón "Enviar"
  sendButton.onclick = sendMessage;

  // Event listener para detectar cuando se presiona Enter en el campo de entrada
  userInput.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
      event.preventDefault(); // Prevenir el comportamiento predeterminado (nueva línea)
      sendMessage();
    }
  });

  // Asegurarse de que el scroll funcione correctamente al cargar la página
  document.addEventListener('DOMContentLoaded', function() {
    chatHistory.scrollTop = chatHistory.scrollHeight;
  });
</script>